*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata*
.classpath
.project
DatabaseUpdate.txt
en_US.lang
Input.txt
Output.txt
Pixelmon2.h2.db
pokemon/*
shinypokemon/*
src/pixelmon/*
Pixelmon2.trace.db
